header {
    max-width: 768px;
    padding: 9px 21px 29px 22px;
}
header .logo span {
    display: none;
}
.search-form {
    display: none;
    position: absolute;
    top: 65px;
    left: 22px;
    z-index: 50;
    width: calc(100% - 44px);
    margin-right: 22px;
}
.search {
    background: #eee;
}
.search-mobile {
    width: 37px;
    height: 37px;
    background: url(images/search-icon.png) no-repeat center;
    display: block;
}
.search-close {
    background: url(images/close.svg) no-repeat center;
}
.cart-icon {
    position: absolute;
    right: 18px;
    top: 105px;
    z-index: 40;
}
.slider {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    padding-bottom: 50px;
}
.slider-item {
    border-radius: 0;
    /*padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;*/
    padding: 40px 20px;
}
.slider-item h1 {
    font-size: 35px;
    width: 90%;
    margin: 0 auto;
    height: 130px;
}
.slider-item h2 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 32px;
}
.slider-btn {
    width: 260px;
    margin: 0 auto;
    display: block;
}
.owl-carousel .owl-nav button.owl-prev {
    margin-left: 16px;
}
.owl-carousel .owl-nav button.owl-next {
    margin-right: 16px;


    margin-left: 17px;
}
.owl-nav {
    right: auto;
    bottom: 55px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bonus {
    display: block;
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
}
.bonus-item {
    margin-bottom: 33px;
}
.delivery {
    max-width: 758px;
    padding-right: 20px;
    padding-left: 20px;
}
.gallery figure {
    flex-basis: 270px;
}
.food-item {
    flex-basis: 270px;
}
.categories {
    max-width: 768px;
    padding: 0 20px;
}
.categories ul {
    flex-wrap: wrap;
    gap: 16px;
}
.benefits {
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
}
.benefits-item {
    flex-basis: 270px;
}
.footer-content {
    max-width: 768px;
    padding: 0 20px;
    flex-direction: column;
    gap: 29px;
}
.footer-info {
    flex-direction: column;
    gap: 21px;
}
footer ul {
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    align-self: flex-start;
}
.food-item img {
    max-width: 50%;
    margin-left: 25%;
}